<template>
  <!--
  Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
  Read the documentation to get started: https://tailwindui.com/documentation
-->
  <footer class="flex py-2 bg-top bg-no-repeat bg-cover md:py-5 bg-footer">
    <div class="w-full my-auto">
      <div
        class="justify-around max-w-screen-xl px-4 py-6 mx-auto space-y-8 overflow-hidden md:flex sm:px-6 lg:px-8"
      >
        <a
          href="https://www.arena.net/en"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="flex">
            <icon
              name="arena-net"
              :width="150"
              :height="100"
              class="md:mx-auto"
            />
          </div>
          <div class="md:text-center">
            GuildWars 2 ©2020 ArenaNet, LLC. All rights reserved.
          </div>
        </a>

        <p
          class="items-center mt-8 text-base leading-6 text-center text-gray-800 md:flex w-max-content"
        >
          <a
            href="https://creativecommons.org"
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center justify-center px-1 py-2 text-base leading-6 text-center text-gray-800 transition-colors duration-300 rounded-md hover:text-gray-600 w-max-content"
          >
            <icon
              v-for="icon in creativeCommons"
              :key="icon.id"
              :name="icon"
              :size="20"
              class="mr-1"
            />
          </a>
          <a
            :href="packageJson.homepage"
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center justify-center px-1 py-2 text-base leading-6 text-center text-gray-800 transition-colors duration-300 rounded-md hover:text-gray-600"
          >
            {{ getYear }} · {{ packageJson.author.name }}.
            {{ packageJson.license }} License,
          </a>
          <a
            href="https://nuxtjs.org"
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center justify-center px-1 py-2 text-base leading-6 text-center text-gray-800 transition-colors duration-300 rounded-md hover:nuxt-icon group hover:text-gray-600 w-max-content"
          >
            built with
            <icon name="nuxt" :size="20" class="mx-1" />
            <span class="font-medium font-quicksand">
              <span
                class="transition-colors duration-300 group-hover:text-gray-nuxt"
                >NUXT</span
              ><span
                class="transition-colors duration-300 group-hover:text-green-nuxt"
                >JS</span
              ></span
            >.
          </a>
        </p>
      </div>
    </div>
  </footer>
</template>

<script>
import packageJson from '~/package.json'
export default {
  name: 'AppFooter',
  data() {
    return {
      packageJson,
      creativeCommons: [
        'creative-commons',
        'creative-commons-by',
        'creative-commons-nc',
      ],
      socialNetworks: [
        {
          label: 'Rennes Métropole',
          icon: 'rennes-logo',
          link: 'https://metropole.rennes.fr/',
        },
        {
          label: 'STAR',
          icon: 'star-logo',
          link: 'https://www.star.fr/',
        },
        {
          label: 'STAR Data Explore',
          icon: 'star-data-explore-logo',
          link: 'https://data.explore.star.fr/page/home/',
        },
      ],
    }
  },
  computed: {
    getYear() {
      const beginDate = 2020
      const currentDate = new Date().getFullYear()
      let final = ''
      if (beginDate !== currentDate) {
        final = `${beginDate} - ${currentDate}`
      } else {
        final = beginDate
      }
      return final
    },
  },
}
</script>

<style scoped>
@variants hover {
  /deep/ path {
    @apply transition-colors duration-300;
  }
  /deep/ .nuxt-icon:hover {
    & path:nth-child(1) {
      fill: #00c58e;
    }
    & path:nth-child(2) {
      fill: #2f495e;
    }
    & path:nth-child(3) {
      fill: #108775;
    }
  }
  /deep/ .rennes-logo:hover path {
    fill: #000000;
  }
  /deep/ .star-logo:hover path {
    fill: #002856;
  }
  /deep/ .star-data-explore-logo:hover {
    & g:nth-child(1) {
      & path {
        fill: #00c58e;
      }
    }
    & g:nth-child(2) {
      & path {
        fill: #2f495e;
      }
    }
  }
}
</style>
