<template>
  <div class="my-5">
    <loading v-if="isLoaded && wallet.length === 0"></loading>
    <div v-if="!isLoaded">
      <button
        class="flex items-center px-4 py-2 font-semibold text-blue-700 transition-colors duration-300 bg-transparent border border-blue-500 rounded hover:bg-blue-500 hover:text-white hover:border-transparent"
        @click="getWallet()"
      >
        <icon name="wallet" />
        <span class="ml-2">Display wallet</span>
      </button>
    </div>
    <div v-else class="py-3 pl-3 rounded-md shadow-md">
      <div v-if="wallet.length !== 0">
        <div class="flex items-center justify-between mx-2 mt-2 mb-3">
          <div class="flex items-center text-xl font-semibold">
            <icon name="wallet" />
            <span class="ml-2">Wallet</span>
          </div>
          <button
            class="p-3 transition-colors duration-300 bg-gray-100 rounded-md hover:bg-gray-200"
            @click="reload"
          >
            <icon name="reload" class="transition-colors duration-300" />
          </button>
        </div>
        <perfect-scrollbar>
          <ul>
            <li
              v-for="currency in wallet"
              :key="currency.id"
              class="flex items-center"
            >
              <img :src="currency.desc.icon" class="w-5 h-5" />
              <span class="ml-1">
                {{ currency.desc.name }}:
                <span v-if="currency.desc.name === 'Coin'">
                  {{ getMoney(currency.wallet.value) }}
                </span>
                <span v-else>
                  {{ currency.wallet ? currency.wallet.value : '0' }}
                </span>
              </span>
            </li>
          </ul>
        </perfect-scrollbar>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AccountWallet',
  props: {
    apiKey: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      isLoaded: false,
      wallet: [],
    }
  },
  methods: {
    reload() {
      this.isLoaded = false
      this.wallet = []
      setTimeout(() => {
        this.getWallet()
        this.isLoaded = true
      }, 250)
    },
    getMoney(value) {
      let rawGold = value / 10000
      rawGold = rawGold.toString().split('.')
      const goldCurrency = rawGold[0]
      let rawSilver = value / 100
      rawSilver = rawSilver - goldCurrency * 100
      rawSilver = rawSilver.toString().split('.')
      const silverCurrency = rawSilver[0]
      let rawCopper = value
      rawCopper = rawCopper - (goldCurrency * 10000 + silverCurrency * 100)
      rawCopper = rawCopper.toString().split('.')
      const copperCurrency = rawCopper[0]
      const money = {
        gold: goldCurrency,
        silver: silverCurrency,
        copper: copperCurrency,
      }
      return `${money.gold} gold, ${money.silver} silver, ${money.copper} copper`
    },
    async getWallet() {
      this.isLoaded = true
      // currencies request
      const walletRequest = await this.$http.get(
        `https://api.guildwars2.com/v2/account/wallet?access_token=${this.apiKey}`
      )
      const wallet = await walletRequest.json()

      const currenciesRequest = await this.$http.get(
        'https://api.guildwars2.com/v2/currencies?ids=all'
      )
      const currencies = await currenciesRequest.json()

      let walletWithDesc = []
      currencies.find(function (element1) {
        const matched = wallet.find(function (element2) {
          return element2.id === element1.id
        })
        // if (matched != null) array3.push({ wallet: matched, desc: element1 })
        walletWithDesc.push({ wallet: matched, desc: element1 })
      })
      walletWithDesc = walletWithDesc.filter((currency) => {
        return currency.wallet
      })

      this.wallet = walletWithDesc
    },
  },
}
</script>

<style>
.btn {
  @apply font-bold py-2 px-4 rounded transition-colors duration-300;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}
</style>
