<template>
  <div class="my-5">
    <loading v-if="isLoaded && skyscaleMaterials.length === 0"></loading>
    <div v-if="!isLoaded">
      <button
        class="flex items-center px-4 py-2 font-semibold text-red-700 transition-colors duration-300 bg-transparent border border-red-500 rounded hover:bg-red-500 hover:text-white hover:border-transparent"
        @click="getMaterials"
      >
        <icon name="skyscale" />
        <span class="ml-2">Display Skyscale materials</span>
      </button>
    </div>
    <div v-else class="py-3 pl-3 rounded-md shadow-md">
      <div v-if="skyscaleMaterials.length !== 0">
        <div class="flex items-center justify-between mx-2 mt-2 mb-3">
          <div class="flex items-center text-xl font-semibold">
            <icon name="skyscale" />
            <span class="ml-2">Skyscale materials</span>
          </div>
          <button
            class="p-3 transition-colors duration-300 bg-gray-100 rounded-md hover:bg-gray-200"
            @click="reload"
          >
            <icon name="reload" class="transition-colors duration-300" />
          </button>
        </div>
        <perfect-scrollbar>
          <a
            v-for="skyscaleMaterial in skyscaleMaterials"
            :key="skyscaleMaterial.id"
            :class="
              skyscaleMaterial.stock.count === 250
                ? 'bg-green-500 bg-opacity-75 text-white'
                : ''
            "
            class="flex items-center p-1 group"
            :href="`https://wiki.guildwars2.com/wiki/${skyscaleMaterial.desc.name.replace(
              ' ',
              '_'
            )}`"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img :src="skyscaleMaterial.desc.icon" class="w-5 h-5" />
            <span
              :class="
                skyscaleMaterial.stock.count === 250
                  ? 'border-white'
                  : 'border-black'
              "
              class="ml-1 transition-colors duration-300 border-b group-hover:border-red-600 group-hover:text-red-600"
            >
              {{ skyscaleMaterial.desc.name }}:
              {{ skyscaleMaterial.stock ? skyscaleMaterial.stock.count : '0' }}
            </span>
          </a>
        </perfect-scrollbar>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AccountMaterials',
  props: {
    apiKey: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      isLoaded: false,
      skyscaleMaterials: [],
    }
  },
  methods: {
    reload() {
      this.isLoaded = false
      this.skyscaleMaterials = []
      setTimeout(() => {
        this.getMaterials()
        this.isLoaded = true
      }, 250)
    },
    async getMaterialInfo(id) {
      const materialRequest = await this.$http.get(
        `https://api.guildwars2.com/v2/items/${id}`
      )
      const material = await materialRequest.json()

      return material
    },
    async getMaterials() {
      this.isLoaded = true
      // materials request
      const materialsRequest = await this.$http.get(
        `https://api.guildwars2.com/v2/account/materials?access_token=${this.apiKey}`
      )
      const materials = await materialsRequest.json()
      const skyscaleMaterials = materials.filter((material) => {
        if (
          material.id === 87645 ||
          material.id === 86069 ||
          material.id === 86977 ||
          material.id === 88955 ||
          material.id === 89537 ||
          material.id === 90783
        ) {
          return material
        }
      })

      const skyscaleMaterialsFinal = []
      await Promise.all(
        skyscaleMaterials.map(async (skyscaleMaterial) => {
          const materialRequest = await this.$http.get(
            `https://api.guildwars2.com/v2/items/${skyscaleMaterial.id}`
          )
          const material = await materialRequest.json()
          const all = {
            stock: skyscaleMaterial,
            desc: material,
          }
          skyscaleMaterialsFinal.push(all)
        })
      )

      this.skyscaleMaterials = skyscaleMaterialsFinal
    },
  },
}
</script>
