<template>
  <div class="w-full p-4 mx-auto md:w-1/2">
    <div class="m-5 overflow-hidden rounded-lg shadow-md">
      <img
        v-if="$slugify(mainCharacter.race)"
        class="object-cover object-top h-48 mx-auto"
        :src="`/gw2/${$slugify(mainCharacter.race)}-banner.png`"
        alt="blog"
      />
      <img
        v-else
        class="object-cover object-center w-full lg:h-48 md:h-36"
        :src="`/images/gw2-logo-small.png`"
      />
      <div v-if="!loading" class="p-6">
        <div class="flex items-center justify-between">
          <div>
            <h2
              class="mb-1 text-xs font-medium tracking-widest text-gray-500 title-font"
            >
              {{ mainCharacter.race }} - {{ mainCharacter.gender }}
            </h2>
            <h1 class="mb-3 text-lg font-medium text-gray-900 title-font">
              {{ mainCharacter.name }}
            </h1>
          </div>
          <img
            :src="`/gw2/${$slugify(mainCharacter.profession)}.png`"
            :alt="mainCharacter.profession"
            class="w-16 h-full"
          />
          <div class="relative hidden w-20 h-20">
            <!-- <img
              :src="`/gw2/${$slugify(mainCharacter.profession)}.png`"
              :alt="mainCharacter.profession"
              class="absolute inset-0 w-64 h-full opacity-50"
            /> -->
            <!-- <div
              class="absolute z-10 text-xl italic font-semibold text-center text-gray-900 center-it"
            >
              {{ mainCharacter.profession }}
            </div> -->
          </div>
        </div>
        <div class="mb-3 leading-relaxed">
          <ul class="text-sm">
            <li class="flex">
              <icon name="arrow-top" />
              <b class="ml-1">Level</b>: {{ mainCharacter.level }}
            </li>
            <li class="flex">
              <icon name="pacifier" />
              <b class="ml-1">Birth</b>: {{ getDate(mainCharacter.created) }}
            </li>
            <li class="flex">
              <icon name="clock" />
              <b class="ml-1">Playing time</b>:
              {{ getAge(mainCharacter.age).h }} hours,
              {{ getAge(mainCharacter.age).m }} min &
              {{ getAge(mainCharacter.age).s }} s
            </li>
            <li class="flex">
              <icon name="human-skull" />
              <b class="ml-1">Deaths</b>: {{ mainCharacter.deaths }} times
            </li>
          </ul>
          <account-wallet :api-key="apiKey"></account-wallet>
          <account-materials :api-key="apiKey"></account-materials>
        </div>
        <div class="flex-wrap items-center hidden">
          <a class="inline-flex items-center text-indigo-500 md:mb-2 lg:mb-0"
            >Learn More
            <svg
              class="w-4 h-4 ml-2"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
          <span
            class="inline-flex items-center py-1 pr-3 ml-auto mr-3 text-sm leading-none text-gray-600 border-r-2 border-gray-300 lg:ml-auto md:ml-0"
          >
            <svg
              class="w-4 h-4 mr-1"
              stroke="currentColor"
              stroke-width="2"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              viewBox="0 0 24 24"
            >
              <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
              <circle cx="12" cy="12" r="3"></circle></svg
            >1.2K
          </span>
          <span
            class="inline-flex items-center text-sm leading-none text-gray-600"
          >
            <svg
              class="w-4 h-4 mr-1"
              stroke="currentColor"
              stroke-width="2"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              viewBox="0 0 24 24"
            >
              <path
                d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"
              ></path></svg
            >6
          </span>
        </div>
      </div>
      <loading v-else></loading>
    </div>
  </div>
</template>

<script>
import AccountWallet from '@/components/AccountWallet.vue'
import AccountMaterials from '@/components/AccountMaterials.vue'
export default {
  name: 'GuildWars2Api',
  components: {
    AccountWallet,
    AccountMaterials,
  },
  props: {
    apiKey: {
      type: String,
      default: null,
    },
    mainCharacterId: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      loading: true,
      characters: [],
      mainCharacter: {},
    }
  },
  async created() {
    if (this.apiKey) {
      await this.fetchGuildWars2Api()
    }
  },
  methods: {
    getAge(age) {
      const formatAge = parseInt(age)
      const h = Math.floor(formatAge / 3600)
      const m = Math.floor((formatAge % 3600) / 60)
      const s = Math.floor((formatAge % 3600) % 60)

      return {
        h,
        m,
        s,
      }
    },
    async fetchGuildWars2Api() {
      // store
      // const charactersStore = this.$store.state.gw2Characters
      // const mainCharacterStore = this.$store.state.gw2MainCharacter

      // if store is empty
      // if (
      //   this.$objectIsEmpty(charactersStore) &&
      //   this.$objectIsEmpty(mainCharacterStore)
      // ) {
      // const gwBaseUrl = 'https://api.guildwars2.com/v2/'
      // const gwToken = `?access_token=${this.apiKey}`
      // const charactersRequest = await this.$http.get(
      //   `${gwBaseUrl}characters${gwToken}`
      // )
      // const characters = await charactersRequest.json()

      // const leelooRequest = await this.$http.get(
      //   `${gwBaseUrl}characters/${
      //     characters[this.mainCharacterId]
      //   }/core${gwToken}`
      // )
      // const leelooCore = await leelooRequest.json()

      //   this.$store.commit('setGW2Characters', characters)
      //   this.$store.commit('setGW2MainCharacter', leelooCore)
      // }
      const gwBaseUrl = 'https://api.guildwars2.com/v2/'
      const gwToken = `?access_token=${this.apiKey}`
      const charactersRequest = await this.$http.get(
        `${gwBaseUrl}characters${gwToken}`
      )
      const characters = await charactersRequest.json()

      const leelooRequest = await this.$http.get(
        `${gwBaseUrl}characters/${
          characters[this.mainCharacterId]
        }/core${gwToken}`
      )
      const mainCharacter = await leelooRequest.json()

      // store
      // this.characters = this.$store.state.gw2Characters
      // this.mainCharacter = this.$store.state.gw2MainCharacter

      this.characters = characters
      this.mainCharacter = mainCharacter

      this.loading = false
    },
    getDate(date) {
      date = new Date(date)
      const options = {
        year: 'numeric',
        weekday: 'long',
        month: 'long',
        day: 'numeric',
      }
      const userLang = navigator.language || navigator.userLanguage
      return date.toLocaleString(userLang, options)
    },
  },
}
</script>

<style>
.ps {
  max-height: 400px;
}
</style>
