<template>
  <div>
    <header class="h-64 bg-no-repeat bg-cover bg-header">
      <div
        class="pt-10 md:container md:flex md:items-center md:justify-around md:mx-auto md:pt-0"
      >
        <img
          src="/images/team-laiderons-white.png"
          class="h-32 mx-auto md:mx-0"
          style="max-width: 100%"
        />
        <img
          src="/gw2/all-mounts.webp"
          alt=""
          class="hidden object-cover h-64 md:block"
        />
      </div>
    </header>
    <!-- <img src="/gw2/all-mounts.webp" alt="" class="mx-auto" /> -->
    <section class="pt-5 text-gray-700 body-font">
      <!-- <icon name="guild-wars-2" :size="500" /> -->
      <!-- <h2 class="text-4xl text-center font-cagliostro-regular">
      Team Laiderons<sup class="text-sm">&copy;</sup>
    </h2> -->
      <div class="mx-auto md:container md:px-5 md:py-5">
        <div class="flex flex-wrap -m-4">
          <api :api-key="ewilanKey"></api>
          <api :api-key="steevenKey"></api>
        </div>
      </div>
    </section>
    <app-footer></app-footer>
  </div>
</template>

<script>
import AppFooter from '@/components/layout/AppFooter.vue'
import api from '@/components/GuildWars2Api.vue'
export default {
  name: 'HomeIndex',
  components: {
    api,
    AppFooter,
  },
  data() {
    return {
      ewilanKey: process.env.GW2_API_KEY_EWILAN,
      steevenKey: process.env.GW2_API_KEY_STEEVEN,
    }
  },
  head() {
    return {
      title: 'Guild Wars 2',
      titleTemplate: '',
    }
  },
}
</script>
